*{
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: rgb(53, 53, 176);
    text-align: center;
    height: 15vh;
}
.alinha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation-name: MudaFonte;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#title {
    color: white;
    padding: 30px;
}

.img {
    height: 80px;
    width: 80px;
    padding-top: 3px;
}

@keyframes MudaFonte {
    0%{

    }

    25%{
        font-family: 'Borel', cursive;
    }

    50%{
        font-family: 'Hind', sans-serif;
    }

    75%{
        font-family: 'Dancing Script', cursive;
    }

    100%{
        font-family: 'Shadows Into Light', cursive;
    }
}